<h3> Good Job! Last Step :)</h3>
<h4>The last thing we need is to group the concepts together:</h4>
<h5>(try not put more than five concepts in the same group)</h5>

<form class="form-inline ajax-form" action="{% url 'wizard:group-add' %}" method="post">
    <input id="name" class="form-control" name="name" type="text" placeholder="Name" autocomplete="off">
    <button id="add-group" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
        <i class="material-icons">add</i>
    </button>
    <div class="mdl-tooltip" for="add-group">
        Open new group
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#add-group').click(function () {
            var name = this.form.elements["name"].value;
            var group = $('{% include 'wizard/step-3/tag-group.html' %}');
            group.find('.panel-heading').text(name);
            $('#tag-groups').append(group);
            $('.tag-bucket').each(function () {
                $(this).sortable({
                    connectWith: ['.tag-bucket']
                });
            });
        });
    });
</script>
<!-- ToDo reset form after submit -->
<!-- ToDo add form validations -->