{% extends "layout.html" %}
{% load static %}

{% block CSS %}
    <link rel="stylesheet" href="{% static 'main/css/material.indigo-blue.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/material-icons.css' %}">
    <link rel="stylesheet" href="{% static 'wizard/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'wizard/bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'wizard/css/wizard.css' %}">
{% endblock %}

{% block JS %}
    <script src="{% static 'components/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'components/bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'components/bower_components/material-design-lite/material.min.js' %}"></script>
    <script src="{% static 'wizard/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/js/ajax-csrf.js' %}"></script>
    <script src="{% static 'main/js/ajax-form.js' %}"></script>
{% endblock %}


{% block main %}
    <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active">
            <a href="#step-1" role="tab" data-toggle="tab">
                STEP 1
            </a>
        </li>
        <li role="presentation">
            <a href="#step-2" role="tab" data-toggle="tab">
                STEP 2
            </a>
        </li>
        <li role="presentation">
            <a href="#step-3" role="tab" data-toggle="tab">
                STEP 3
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="step-1" class="tab-pane fade in active" role="tabpanel">
            {% include 'wizard/step-1.html' %}
        </div>
        <div id="step-2" class="tab-pane fade" role="tabpanel">
            {% include 'wizard/step-2.html' %}
        </div>
        <div id="step-3" class="tab-pane fade" role="tabpanel">
            {% include 'wizard/step-3.html' %}
        </div>
    </div>
{% endblock %}



