{% extends "layout.html" %}
{% load static %}

{% block CSS %}
    <link rel="stylesheet" href="{% static 'main/css/material.indigo-blue.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/material-icons.css' %}">
    <link rel="stylesheet" href="{% static 'wizard/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'wizard/bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'wizard/css/wizard.css' %}">
{% endblock %}

{% block JS %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
    <script src="{% static 'wizard/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/js/ajax-csrf.js' %}"></script>
    <script src="{% static 'main/js/ajax-form.js' %}"></script>
{% endblock %}


{% block main %}
    <ul class="nav nav-pills nav-justified">
        {% block nav %}{% endblock %}
    </ul>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    {% block script %}{% endblock %}
{% endblock %}



