<div class="panel panel-primary">
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" rows="2" id="description"></textarea>
            </div>
            <div class="form-group">
                <label for="prerequisites">Prerequisites</label>
                <textarea class="form-control" rows="2" id="prerequisites"></textarea>
            </div>
        </form>
    </div>
</div>

<!-- ToDo add validations -->