<div class="modal fade" id="create-form">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form action="{{ form }}/add/" method="post">
                {% csrf_token %}
                <div class="mdl-card">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Create</h2>

                        <div class="mdl-layout-spacer"></div>
                        {% include 'forms/buttons/close.html' %}
                    </div>
                    <div class="mdl-card__supporting-text">
                        {% if form == 'modules' %}
                            {% include 'syllabus/forms/create-forms/module.html' %}
                        {% elif form == 'lessons' %}
                            {% include 'syllabus/forms/create-forms/lesson.html' %}
                        {% elif form == 'units' %}
                            {% include 'syllabus/forms/create-forms/unit.html' %}
                        {% endif %}
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        {% include 'forms/buttons/add.html' %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- ToDo add validations checks -->
<!-- Title/Name cannot hold " -->
<!-- check fileds that must be present -->