<div class="modal fade" id="create-form">
    <div class="modal-dialog form-card">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Create</h4>
            </div>
            <form action="{{ form }}/add/" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    {% if form == 'modules' %}
                        {% include 'syllabus/forms/create-forms/module.html' %}
                    {% elif form == 'lessons' %}
                        {% include 'syllabus/forms/create-forms/lesson.html' %}
                    {% elif form == 'units' %}
                        {% include 'syllabus/forms/create-forms/unit.html' %}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    {% include 'forms/buttons/add-button.html' %}
                </div>
            </form>
        </div>
    </div>
</div>

<!-- ToDo material design this form -->
<!-- ToDo add validations checks -->