<div class="modal fade" id="create-form">
    <div class="modal-dialog form-card">
        <div class="modal-content">
            <form action="{{ form }}/add/" method="post">
                {% csrf_token %}
                <div class="mdl-card">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Create</h2>
                        <div class="mdl-layout-spacer"></div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="mdl-card__supporting-text">
                        {% if form == 'modules' %}
                            {% include 'syllabus/forms/create-forms/module.html' %}
                        {% elif form == 'lessons' %}
                            {% include 'syllabus/forms/create-forms/lesson.html' %}
                        {% elif form == 'units' %}
                            {% include 'syllabus/forms/create-forms/unit.html' %}
                        {% endif %}
                    </div>
                    <div class="mdl-card__actions">
                        {% include 'forms/buttons/add-button.html' %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- ToDo add validations checks -->