{% load syllabus_helper %}
<form action="update/" method="post">
    {% csrf_token %}
    {% include 'syllabus/forms/fields/title-field.html' with value=obj.title class="title-input" %}
    {% include 'syllabus/forms/fields/description-field.html' with value=obj.description %}
    {% if form == "courses" %}
        {% include 'syllabus/forms/fields/prerequisites-field.html' with value=obj.prerequisites %}
    {% elif form == "contents" %}
        {% include 'syllabus/forms/fields/type-field.html' %}
        {% include 'syllabus/forms/fields/time-field.html' with value=obj.time %}
    {% endif %}
    {% if form != "modules" %}
        {% include 'syllabus/forms/fields/requirements-field.html' with value=obj.requirements %}
    {% endif %}
    <br>
    {% include "syllabus/blocks/save-button.html" %}
</form>

<!-- ToDo insert to card -->