{% load syllabus_helper %}
<form action="update/" method="post">
    {% csrf_token %}
    {% include 'syllabus/forms/fields/title.html' with value=obj.title class="title-input" %}
    <br>
    {% include 'syllabus/forms/fields/description.html' with value=obj.description %}
    <br>
    {% if form == "courses" %}
        {% include 'syllabus/forms/fields/prerequisites.html' with value=obj.prerequisites %}
        <br>
    {% elif form == "lessons" %}
        {% include 'syllabus/forms/fields/lesson-type.html' %}
        <br>
        {% include 'syllabus/forms/fields/time.html' with value=obj.time %}
        <br>
    {% endif %}
    {% if form != "modules" %}
        {% include 'syllabus/forms/fields/requirements.html' with value=obj.requirements %}
    {% endif %}
    <br>
    {% include "syllabus/blocks/save-button.html" %}
</form>

<!-- ToDo insert to card -->
<!-- ToDo add validations checks -->
<!-- ToDo overwriting form submission to be AJAX -->