<style>
    .handle {
        cursor: pointer;
    }
</style>
<table class="mdl-data-table mdl-js-data-table fixed">
    <thead>
    <tr>
        <!-- ToDo add reorder backend function-->
        {% if courses %}
            {% include 'syllabus/table/headers/course-list.html' %}
        {% elif course %}
            {% include 'syllabus/table/headers/module-list.html' %}
        {% elif module %}
            {% include 'syllabus/table/headers/lesson-list.html' %}
        {% elif lesson %}
            {% include 'syllabus/table/headers/unit-list.html' %}
        {% endif %}
    </tr>
    </thead>
    <tbody id="sortable">
    {% if courses %}
        {% include 'syllabus/table/bodies/course-list.html' %}
    {% elif course %}
        {% include 'syllabus/table/bodies/module-list.html' %}
    {% elif module %}
        {% include 'syllabus/table/bodies/lesson-list.html' %}
    {% elif lesson %}
        {% include 'syllabus/table/bodies/unit-list.html' %}
    {% endif %}
    </tbody>
    <script>
        $(function () {
            $("#sortable").sortable({handle: '.handle'});
            $("#sortable").disableSelection();
        });
        $("#sortable .delete").click(function () {
            $(this).closest('form').submit();
            $(this).closest('tr').remove();
        });
    </script>
</table>
