<style>
    .handle {
        cursor: pointer;
    }
</style>
<table class="mdl-data-table mdl-js-data-table fixed">
    <thead>
    <tr>
        <!-- ToDo add reorder backend function-->
        {% if courses %}
            {% include 'syllabus/table/headers/course_list.html' %}
        {% elif course %}
            {% include 'syllabus/table/headers/course_detail.html' %}
        {% elif module %}
            {% include 'syllabus/table/headers/module_detail.html' %}
        {% elif lesson %}
            {% include 'syllabus/table/headers/lesson_detail.html' %}
        {% endif %}
    </tr>
    </thead>
    <tbody id="sortable">
    {% if courses %}
        {% include 'syllabus/table/bodies/course_list.html' %}
    {% elif course %}
        {% include 'syllabus/table/bodies/course_detail.html' %}
    {% elif module %}
        {% include 'syllabus/table/bodies/module_detail.html' %}
    {% elif lesson %}
        {% include 'syllabus/table/bodies/lesson_detail.html' %}
    {% endif %}
    </tbody>
    <script>
        $(function () {
            $("#sortable").sortable({handle: '.handle'});
            $("#sortable").disableSelection();
        });
    </script>
</table>
