.space-row--1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 16px 16px;
}

.space-row--2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 32px 16px;
}

.space-row--4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 64px 16px;
}

.progressbar {
    max-width: 100px;
}

.title-input {
    font-size: 25px;
}

.textarea-input {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
}

#donut-chart {
    height: 380px;
    width: 380px;
}

.add-button {
    top: -20px;
    left: 10px;
}

.breadcrumb {
    padding: 0 0 0 20px;
}

.tag {
    text-transform: none;
}

.done-button {
    left: 85%;
}

.add-tag-icon {
    margin-top: 12%;
}

.form-card {
    max-width: 300px;
}