.progressbar {
    max-width: 100px;
}

.title-input {
    font-size: 25px;
}

.textarea-input {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
}

#donut-chart {
    height: 380px;
    width: 380px;
}

.add-button {
    top: -20px;
    left: 20px;
}

.breadcrumb {
    padding: 0 0 0 20px;
}

.tag {
    text-transform: none;
}

.done-button {
    left: 85%;
}

.add-tag-icon {
    margin-top: 12%;
}

.form-card {
    max-width: 300px;
}