{% extends "export/main.html" %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'export:module-list' lesson.module.course.id %}">{{ lesson.module.course.title }}</a>
        </li>
        <li><a href="{% url 'export:lesson-list' lesson.module.id %}">{{ lesson.module.title }}</a></li>
        <li class="active">{{ lesson.title }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Units:</h2>
    </div>
    {% include 'export/table/table.html' %}
{% endblock %}
