{% load syllabus_helper %}
<script type="text/javascript">
    google.load("visualization", "1", {packages: ["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Content Type', 'Time'],
            ['Lectures', {{ obj.get_lectures_time|to_hours }}],
            ['Assignments', {{ obj.get_assignments_time|to_hours }}],
            ['Quiz', {{ obj.get_quiz_time|to_hours }}],
            ['Test', {{ obj.get_test_time|to_hours }}]
        ]);

        var options = {
            title: 'Course Time Distribution (hours)',
            pieHole: 0.4,
            legend: 'none'
        };

        var chart = new google.visualization.PieChart(document.getElementById('donut-chart'));
        chart.draw(data, options);
    }
</script>

<!-- ToDo switch to d3.js -->