{% extends 'layout.html' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'syllabus-course-detail' content.module.course.id %}">{{ content.module.course.title }}</a>
        </li>
        <li><a href="{% url 'syllabus-module-detail' content.module.id %}">{{ content.module.title }}</a></li>
        <li class="active">{{ content.title }}</li>
    </ol>
{% endblock %}

{% block left %}
    {% include 'syllabus/forms/update-form.html' with form="content" obj=content %}
{% endblock %}

{% block right %}
    {% include 'syllabus/blocks/done-button.html' %}
    <!-- ToDo add done button functionality -->
    {% include 'syllabus/blocks/concept-tags.html' with concepts=content.concepts.all %}
    <!-- ToDo add add-tag button functionality -->
{% endblock %}