{% extends "layout.html" %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="active">{{ course.title }}</li>
    </ol>
{% endblock %}

{% block left %}
    {% include "syllabus/forms/update-form.html" with form="courses" obj=course %}
    <br>
    {% include "script-components/pie-chart-script.html" with obj=course %}
    <div id="donut-chart"></div>
{% endblock %}

{% block right %}
    <h4>Modules:</h4>
    {% include "syllabus/table/table.html" with objects=course.get_modules %}
    {% include "syllabus/blocks/add-button.html" %}
{% endblock %}

{% block create-form %}
    {% include 'syllabus/forms/create-form.html' with form="modules" %}
{% endblock %}
