{% extends "layout.html" %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="active">{{ course.title }}</li>
    </ol>
{% endblock %}

{% block left %}
    {% include "syllabus/forms/update-form.html" with form="course" obj=course %}
    {% include "script-components/pie-chart-script.html" with obj=course %}
    <div id="donut-chart"></div>
{% endblock %}

{% block right %}
    <h4>Modules:</h4>
    <table class="mdl-data-table mdl-js-data-table">
        <thead>
        <tr>
            <th>
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--icon">
                    <i class="material-icons">arrow_drop_down</i>
                </button>
            </th>
            <th class="mdl-data-table__cell--non-numeric">Title</th>
            <th>Time</th>
            <th>Progress</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody>
        {% for module in course.get_modules %}
            <tr>
                <td>{{ module.order }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ module.title }}</td>
                <td>{{ module.get_time }}</td>
                <td>
                    <div id="p{{ module.id }}" class="mdl-progress mdl-js-progress progressbar"></div>
                    {% include 'script-components/progressbar-script.html' with obj=module %}
                </td>
                <td><a href="{% url 'syllabus-module-detail' module.id %}">
                    <i class="material-icons md-dark">forward</i></a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    {% include "syllabus/blocks/add-button.html" %}
{% endblock %}

{% block create-form %}
    {% include 'syllabus/forms/create-form.html' with url="/rest/modules/" form="module" %}
{% endblock %}
