{% extends "main.html" %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'syllabus:course-detail' lesson.module.course.id %}">{{ lesson.module.course.title }}</a>
        </li>
        <li><a href="{% url 'syllabus:module-detail' lesson.module.id %}">{{ lesson.module.title }}</a></li>
        <li class="active">{{ lesson.title }}</li>
    </ol>
{% endblock %}

{% block left %}
    {% include 'syllabus/forms/update-form.html' with form="lesson" obj=lesson %}
{% endblock %}

{% block right %}
    <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Units:</h2>
        </div>
        {% include "syllabus/table/table.html" with objects=lesson.get_units %}
        <div class="mdl-card__actions">
            {% include "syllabus/blocks/add-button.html" %}
        </div>
    </div>
    <!-- ToDo add done button -->
    <!-- ToDo add tags -->
{% endblock %}

{% block create-form %}
    {% include 'syllabus/forms/create-form.html' with form='units' %}
{% endblock %}

{% block delete-form %}
    {% include 'syllabus/forms/delete-form.html' %}
{% endblock %}
