{% extends "layout.html" %}

{% block left %}
    <form action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input title-input" type="text" id="title"
                   value="{{ module.title }}"/>
            <label class="mdl-textfield__label" for="title">Title</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <textarea class="mdl-textfield__input textarea-input" rows="2"
                                  id="description">{{ module.description }}</textarea>
            <label class="mdl-textfield__label" for="description">Description</label>
        </div>
    </form>
    {% include "script-components/pie-chart-script.html" with obj=module %}
    <div id="donut-chart"></div>
{% endblock %}

{% block right %}
    <div class="space-row--1"></div>
    <h4>Contents:</h4>
    <table class="mdl-data-table mdl-js-data-table">
        <thead>
        <tr>
            <!-- ToDo add on the fly order button function -->
            <th>
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--icon">
                    <i class="material-icons">arrow_drop_down</i>
                </button>
            </th>
            <th class="mdl-data-table__cell--non-numeric">Type</th>
            <th class="mdl-data-table__cell--non-numeric">Title</th>
            <th>Time</th>
            <th>Done</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody>
        {% for content in module.get_contents %}
            <tr>
                <td>{{ content.order }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ content.type }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ content.title }}</td>
                <td>{{ content.time }}</td>
                <td>
                    <!-- ToDo add done button function -->
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-{{ content.id }}">
                        <input type="checkbox" id="checkbox-{{ content.id }}" class="mdl-checkbox__input"
                                {% if content.done %} checked{% endif %}/>
                    </label>
                </td>
                <td><a href="{% url 'content-detail' content.id %}">
                    <i class="material-icons md-dark">arrow_forward</i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <!-- ToDo add button to add content -->
    </table>
{% endblock %}
