{% extends "main.html" %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'syllabus:course-detail' module.course.id %}">{{ module.course.title }}</a></li>
        <li class="active">{{ module.title }}</li>
    </ol>
{% endblock %}

{% block left %}
    {% include 'syllabus/forms/update-form.html' %}
    <br>
    {% include 'syllabus/blocks/donut-chart.html' with obj=module %}
{% endblock %}

{% block right %}
    {% include 'syllabus/table/table-card.html' with title="Lessons" objects=module.get_lessons %}
    <br>
    {% include 'syllabus/messages/messages-card.html' with messages=module.get_messages %}
{% endblock %}

{% block create-form %}
    {% include 'syllabus/forms/create-form.html' with form='lessons' %}
{% endblock %}

{% block delete-form %}
    {% include 'syllabus/forms/delete-form.html' %}
{% endblock %}


