<!doctype html>

<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Syllabus Design Lite</title>

    {% load static %}
    {% block CSS %}
        <link rel="stylesheet" href="{% static "syllabus/css/material.min.css" %}">
        <link rel="stylesheet" href="{% static "syllabus/css/material-icons.css" %}">
        <link rel="stylesheet" href="{% static "syllabus/css/base.css" %}">
    {% endblock %}

    {% block JS %}
        <!-- <script type="text/javascript" src="https://www.google.com/jsapi"></script> -->
        <script src="{% static "syllabus/js/material.min.js" %}"></script>
    {% endblock %}

</head>

<body>

{% block layout %}

{% endblock %}

</body>

</html>