{% extends "base.html" %}

{% block layout %}

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header has-tabs">

        {% block header %}
            <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
                <div class="mdl-layout__header-row"></div>
                <div class="mdl-layout--large-screen-only mdl-layout__header-row">
                    <h3>Syllabus Builder</h3>
                </div>
                <div class="mdl-layout__header-row"></div>
            </header>
        {% endblock %}

        {% block drawer %}
            <div class="mdl-layout__drawer mdl-color--indigo-800 mdl-color-text--white">
                <span class="mdl-layout-title">Syllabus Builder</span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link mdl-color-text--white" href="{% url 'home' %}">Home</a>
                    <a class="mdl-navigation__link mdl-color-text--white" href="{% url 'course-list' %}">Courses</a>
                </nav>
            </div>
        {% endblock %}

        <!-- ToDo add trails -->

        <div class="space-row--1"></div>

        {% block main %}
            <main class="mdl-layout__content">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--1-col"></div>
                    <div class="mdl-cell mdl-cell--10-col">
                        {% block content %}

                        {% endblock %}
                    </div>
                    <div class="mdl-cell mdl-cell--1-col"></div>
                </div>
            </main>
        {% endblock %}

        <div class="space-row--2"></div>

        {% block footer %}
            <footer class="mdl-mega-footer">
                <div class="mdl-mega-footer__top-section">
                    <div class="mdl-mega-footer__left-section">
                    </div>
                    <div class="mdl-mega-footer__right-section">
                        <a href="#">Introduction</a>
                        <a href="#">App Status Dashboard</a>
                        <a href="#">Terms of Service</a>
                    </div>
                </div>
                <div class="mdl-mega-footer__middle-section">
                    <div class="mdl-mega-footer__drop-down-section">
                    </div>
                    <div class="mdl-mega-footer__drop-down-section">
                    </div>
                </div>
                <div class="mdl-mega-footer__bottom-section">
                </div>
            </footer>
        {% endblock %}

    </div>

{% endblock %}