{% extends "base.html" %}

{% block layout %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header has-tabs">
        {% block header %}
            {% include 'blocks/header.html' with title="Course Planner" %}
        {% endblock %}

        {% block drawer %}
            {% include 'blocks/drawer.html' with title="My Menu" %}
        {% endblock %}

        {% block breadcrumbs %}
        {% endblock %}

        {% block main %}
            <br>
            <br>
            <main class="mdl-layout__content">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--1-col"></div>
                    <div class="mdl-cell mdl-cell--10-col">
                        {% block content %}
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--5-col">
                                    {% block left %}
                                    {% endblock %}
                                </div>
                                <div class="mdl-cell mdl-cell--7-col">
                                    {% block right %}
                                    {% endblock %}
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                    <div class="mdl-cell mdl-cell--1-col"></div>
                </div>
                {% block footer %}
                    {% include 'blocks/footer.html' %}
                {% endblock %}
            </main>
        {% endblock %}

        {% block create-form %}

        {% endblock %}


    </div>
{% endblock %}

<!-- ToDo add a help button -->