<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">
        {% if user.is_authenticated %}
            Hello, {{ user.username }}
        {% else %}
            Please Login
        {% endif %}
    </span>
    <nav class="mdl-navigation">
        {% if user.is_authenticated %}
            <a class="mdl-navigation__link" href="{% url 'main:home' %}">
                Home
            </a>
            <a class="mdl-navigation__link" href="{% url 'user:profile' %}">
                Profile
            </a>
            <a class="mdl-navigation__link" href="{% url 'syllabus:course-list' %}">
                Course List
            </a>
            <a class="mdl-navigation__link" href="{% url 'white:course-list' %}">
                Export
            </a>
            <a class="mdl-navigation__link" href="{% url 'user:settings' %}">
                Settings
            </a>
            <a class="mdl-navigation__link" href="{% url 'user:logout' %}">
                Logout
            </a>
        {% else %}
            <a class="mdl-navigation__link" href="{% url 'user:login-form' %}">
                Login
            </a>
        {% endif %}
    </nav>
</div>
<!-- ToDo add icons to links -->
