{% extends "base.html" %}

{% block layout %}
    <div class="mdl-layout mdl-js-layout">
        {% block header %}
            {% include 'blocks/header.html' with title="Course Planner" %}
        {% endblock %}

        {% block drawer %}
            {% include 'blocks/drawer.html' %}
        {% endblock %}

        {% block breadcrumbs %}
        {% endblock %}

        {% block csrf %}
            <div style="display:none">
                <input id="csrf" type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            </div>
        {% endblock %}

        {% block create-form %}
        {% endblock %}

        {% block delete-form %}
        {% endblock %}

        {% block main %}
        {% endblock %}
    </div>
{% endblock %}